*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.main{

  height: 100vh;

}
.padre{

  width: 100%;
  height: 100%;

}
.hijo--cabecera{

  display: flex;
  flex-direction:row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  background-color: black;
  width: 100%;
  height: 9%;
  
}
.logotipo{

  align-items: center;
  width: 20%;
  height: 38%;
  padding-left: 5%;

}
.cursos{

  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
  color:  rgb(255, 255, 255);

  width: 20%;
}
.porqueNosotros{
  align-items: center;
  display: flex;
  justify-content: center;
  text-decoration: none;
  flex-wrap: wrap;
  font-family: Arial, Helvetica, sans-serif;
  color:  rgb(255, 255, 255);
  width: 20%;
}
.contrataTalento{

  align-items: center;
  display: flex;
  justify-content: center;
  text-decoration: none;
  flex-wrap: wrap;
  font-family: Arial, Helvetica, sans-serif;
  color:  rgb(255, 255, 255);
  width: 20%;
}
.aplica{
  align-items: center;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
  color:  rgb(255, 255, 255);
  width: 20%;
}

.hijo--titulo{

  background-color: blue;
  display: flex;
  flex-direction:row;
  justify-content: center;
  text-decoration: none;
  align-items: center;
  font-family: Helvetica bold;
  font-size: large;
  color:  white;

  width: 100%;
  height: 6%;
}

.fondoCaja{

    display: flex;
    justify-content: right;
    align-items: center;
  
    width: 100%;
    height: 100%;
}
.hijo--cajaBlanca{

    display: flex;
    position:relative;
    flex-direction:row;
    justify-content: center;
    width: 100%;
    height: 78%;
    color: white;
    background-color: black;
/* 
    border: 8px solid rgb(138, 123, 123);
    border-radius: 5px; */
}
.cajaBlanca--profesor{

    display: flex;
    position:relative;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: Helvetica;
    font-size: smaller;
    width: 33.33%;
    height: 100%;
    
 /*    border: 8px solid rgb(231, 8, 8);
    border-radius: 5px; */
}
.profe{

    display: flex;
    justify-content: space-between;
    text-align: center;
    flex-direction:row;

    width: 50%;
    height: 40%;
    
  /*   border: 8px solid rgb(64, 8, 231);
    border-radius: 2px; */

}
.descripcion{

    display: flex;
    justify-content: space-between;
    text-align: center;
    flex-direction:row;
    font-family: Helvetica bold;
    width: 50%;
    height: 30%;

    /* border: 8px solid rgb(64, 8, 231);
    border-radius: 2px; */
}


.hijo--footer{

  background-color: rgb(53, 242, 179);
  display: flex;
  flex-direction:row;
  justify-content: right;
  padding-right: 10%;
  text-decoration: none;
  align-items: center;
  font-family:'Open Sans';
  font-size: large;

  width: 100%;
  height: 7%;

}
.facebook{

  display: flex;
  justify-content: space-around;

  text-decoration: none;
  width: 2%;
  height: 50%;
}
.instagram{

  display: flex;
  justify-content: space-around;
  text-decoration: none;

  width: 2%;
  height: 50%;
}
.telefono{

  display: flex;
  justify-content: space-around;
  text-decoration: none;
  width: 2%;
  height: 50%;
}
.info{

  display: flex;
  text-decoration: none;
  justify-content: center;
  align-items: left;
  background-color: blue;
  color: WHITE;
  font-size: small;

}

.linkedin{

  color:  blue;
  font-family: Arial bold;
  font-weight: 200;


}
