*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
  .main{

  height: 100vh;
  }

.padre{

    height: 100vh;
    display: grid;

    grid-template-areas: 

        'header header imagen'
        'aside contenido contenido'
        'aside contenido contenido '
        'aside contenido contenido '
        'aside contenido contenido '
        'footer footer footer';
}

.header{

    grid-area: header;

    background-color: rgb(100, 38, 21);
    color: white;
    text-align: center;
    font-family: Georgia;
    padding-top: 2%;


}
.imagen{

    grid-area: imagen;

    background-color: rgb(61, 6, 6);
    color: white;
    text-align: center;
    font-family: Georgia;
    padding-top: 2%;
}
.aside{

    grid-area: aside;

    background-color:rgb(255, 149, 35);
    display: grid;
    grid-template-areas: 'aside1'
                         'aside'
                         'aside2';
}
.aside--1{

    grid-area: aside1;

    background-color: white;
    text-align: center;
    font-family: Georgia;
    padding-top: 6%;
    margin: 8px;
    color:  rgb(255, 149, 35);
}
.aside--3{

    grid-area: aside2;

    background-color: white;
    text-align: center;
    font-family: Georgia;
    padding-top: 6%;
    margin: 8px;
    color: rgb(255, 149, 35);
}

.cuerpo{

    grid-area: contenido;
    
    background-color: rgb(178, 53, 0);
    display: grid;
    grid-template-areas: 'contenido'
                         'texto';

}
.contenido{

    grid-area: contenido;
     
    border: 2px solid white;
    margin: 8px;
    color: white;
    padding-top: 3%;
    text-align: center;
    font-family: Georgia;
}
.texto{

    grid-area: texto;

    border: 2px solid white;
    margin: 8px;
    color: white;
    padding-top: 3%;
    text-align: center;
    font-family: Georgia;
}


.footer{

    grid-area: footer;

    background-color:  rgb(100, 38, 21);
    color: white;
    text-align: center;
    font-family: Georgia;
    padding-top: 2%;
}
