*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
  .main{

  height: 100vh;
  }

.container{

    height: 100vh;
    width: 100vw;
    display: grid;

    grid-template-columns: [x0]1fr [x1]1fr [x2]1fr [x3]1fr [x4]1fr [x5]1fr [x6]1fr [x7]1fr [x8]1fr [x9]1fr;
    grid-template-rows: [y0]1fr [y1]1fr [y2]1fr [y3]1fr [y4]1fr [y5]1fr;
}
.a{
    grid-column-start: x0;
    grid-column-end: x2;

    grid-row-start: y0 ;
    grid-row-end: y3;

    background-color: rgb(39, 240, 39);
    text-align: center;
    font-family: Helvetica;
}
.b{
    grid-column-start: x2;
    grid-column-end: x3;

    grid-row-start: y0;
    grid-row-end: y3;

    background-color: black;
    color: white;
    text-align: center;
    font-family: Helvetica;
}
.c{
    grid-column-start: x3;
    grid-column-end: x5;

    grid-row-start: y0;
    grid-row-end: y3;

    background-color:rgb(39, 240, 39);
    text-align: center;
    font-family: Helvetica;
}
.d{
    grid-column-start: x0;
    grid-column-end: x2;

    grid-row-start: y3;
    grid-row-end: y5;

    background-color: black;
    color: white;
    text-align: center;
    font-family: Helvetica;
}
.e{
    grid-column-start: x2;
    grid-column-end: x3;

    grid-row-start: y3;
    grid-row-end: y5;

    background-color: rgb(39, 240, 39);
    text-align: center;
    font-family: Helvetica;
}
.f{
    grid-column-start: x3 ;
    grid-column-end: x5;

    grid-row-start: y3;
    grid-row-end: y5;

    background-color: black;
    color: white;
    text-align: center;
    font-family: Helvetica;
}
.a2{
    grid-column-start: x5;
    grid-column-end: x7;

    grid-row-start: y0 ;
    grid-row-end: y3;

    background-color: rgb(39, 240, 39);
    text-align: center;
    font-family: Helvetica;
}
.b2{
    grid-column-start: x7;
    grid-column-end: x8;

    grid-row-start: y0;
    grid-row-end: y3;

    background-color: black;
    color: white;
    text-align: center;
    font-family: Helvetica;
}
.c2{
    grid-column-start: x8;
    grid-column-end: x10;

    grid-row-start: y0;
    grid-row-end: y3;

    background-color:rgb(39, 240, 39);
    text-align: center;
    font-family: Helvetica;
}
.d2{
    grid-column-start: x5;
    grid-column-end: x7;

    grid-row-start: y3;
    grid-row-end: y5;

    background-color: black;
    color: white;
    text-align: center;
    font-family: Helvetica;
}
.e2{
    grid-column-start: x7;
    grid-column-end: x8;

    grid-row-start: y3;
    grid-row-end: y5;

    background-color: rgb(39, 240, 39);
    text-align: center;
    font-family: Helvetica;
}
.f2{
    grid-column-start: x8 ;
    grid-column-end: x10;

    grid-row-start: y3;
    grid-row-end: y5;

    background-color: black;
    color: white;
    text-align: center;
    font-family: Helvetica;
}